.score {
    text-align: right;
}

.score-table{
    margin: auto;
    width: 70vw;
}

.transition-chart{
    display: flex;
    justify-content: center;
}

.top-data{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
